<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="app">
        @RenderBody()
    </div>
    @Scripts.Render("~/scripts/js")
    <script type="text/javascript">
                Vue.use(VueRouter);
                var ComponentLibrary = {};//建立component
                var app_router = [];//建立router Array
    </script>
    @RenderSection("Script", required: true)
</body>
</html>